<nav class="navbar navbar-dark bg-dark mb-5">
  <a href="/" routerLink="/dashboard" class="navbar-brand">SeleniumScreenshots</a>
  <div class="navbar-expand mr-auto menu-items">
    <div class="navbar-nav">
      <a routerLink="/dashboard" routerLinkActive="active" class="nav-item nav-link">Dashboard</a>
      <a routerLink="/faqs" class="nav-item nav-link">FAQs</a>
    </div>
  </div>
  <div>
    <ul *ngIf="enableDevTools">
      <li>dev app url: <a target="_blank" href="{{devAppUrl}}">{{devAppUrl}}</a></li>
      <li>prod app url: <a target="_blank" href="{{prodAppUrl}}">{{prodAppUrl}}</a></li>
      <li>dev api url: <a target="_blank" href="{{devApiUrl}}">{{devApiUrl}}</a></li>
      <li>prod api url: <a target="_blank" href="{{prodApiUrl}}">{{prodApiUrl}}</a></li>
    </ul>
    <div *ngIf="enableDevTools">
      <app-messages></app-messages>
    </div>
  </div>
</nav>