<nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
  <div class="navbar-expand m-auto navbar-text">
    Made with <i class="fa fa-heart"></i> by <a target="_blank" href="https://github.com/fwhatley">F. Whatley</a>
    <ul *ngIf="enableQaTools">
      <li>dev app url: <a target="_blank" href="{{devAppUrl}}">{{devAppUrl}}</a></li>
      <li>prod app url: <a target="_blank" href="{{prodAppUrl}}">{{prodAppUrl}}</a></li>
      <li>dev api url: <a target="_blank" href="{{devApiUrl}}">{{devApiUrl}}</a></li>
      <li>prod api url: <a target="_blank" href="{{prodApiUrl}}">{{prodApiUrl}}</a></li>
    </ul>
  </div>
</nav>