<h1>FAQs</h1>

<h3 class="question">What is the purpose of this app?</h3>
<p>This app stores pictures and data related to those pictures. It can be very useful for tracking images. For example, a use case for this is to keep track of images of failed automated tests. Using this app you exactly see </p>
<ul>
  <li>The name of the test</li>
  <li>The page where you where</li>
  <li>The action you were performing</li>
  <li>The time when the failure happened</li>
  <li>The picture of the page when it failed</li>
</ul>

<p>This will help the QA Engineers debug test failures quicker and report bugs to the dev team faster.</p>
