  <div class="row">
    <div class="col">
        <h5>Select an image to upload</h5>
        <input type="file" class="btn btn-light" (change)="fileChangeEvent($event)" placeholder="Upload file..."/>
        <button ngDisbled="uploadButtonDisableState" type="button" class="btn btn-primary" (click)="clickUpload()" >Upload</button>
    </div>
    <div class="col text-right">
        <!-- amke popover work. I installed jquery and popover js<div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown button
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div> -->
        <app-dev-tools></app-dev-tools>
    </div>
  </div>

  <h5 class="row-top-padding">Screenshots of Failed Automated Tests</h5>
  <div class="row row-top-padding">
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 image-wrap" *ngFor="let fr of fileRecords" (click)="toggleModal(fr)">
      <img id="myImg" src="{{fr.url}}" alt="{{fr.name}}">
      <div class="image-date">{{fr.createdUtc | date:'short'}}</div>
      <a routerLink="/file/{{fr.id}}"><p class="text-center">{{fr.name}}</p></a>
    </div>
  </div>

  <!-- modal to display -->
  <div id="myModal" class="modal" [style.display]="showModal? 'block':'none'" *ngIf="currentImageInModal">
      <span class="close" (click)="toggleModal(fr)">&times;</span>
      <img class="modal-content" id="img01" src="{{currentImageInModal.url}}">
      <div id="imageName">{{currentImageInModal.name}} | {{currentImageInModal.createdUtc | date:'short'}}</div>
  </div>