  <div class="row">
    <div class="col-6">
        <h5>Select an image to upload</h5>
        <input type="file" class="btn btn-light" (change)="fileChangeEvent($event)" placeholder="Upload file..."/>
        <button type="button" class="btn btn-primary" (click)="clickUpload()" >Upload</button>
    </div>
    <div class="col-6">
        <app-dev-tools></app-dev-tools>
    </div>
  </div>

  <h5 class="row-top-padding">Screenshots of Failed Automated Tests</h5>
  <div class="row row-top-padding no-gutters">
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 image-wrap" *ngFor="let fr of fileRecords" (click)="toggleModal(fr)">
      <img id="myImg" src="{{fr.url}}" alt="{{fr.name}}">
      <div class="image-date">{{fr.createdUtc | date:'short'}}</div>
      <p class="text-center">{{fr.name}}</p>
    </div>
  </div>

  <!-- modal to display -->
  <div id="myModal" class="modal" [style.display]="showModal? 'block':'none'" *ngIf="currentImageInModal">
      <span class="close" (click)="toggleModal(fr)">&times;</span>
      <img class="modal-content" id="img01" src="{{currentImageInModal.url}}">
      <div id="imageName">{{currentImageInModal.name}} | {{currentImageInModal.createdUtc | date:'short'}}</div>
  </div>